
// Layouts	
.products
	display: flex
	flex-flow: column
	justify-content: center
	gap: 1em

.search-card
	margin-bottom: 1em
	width: 100%

@media screen and (min-width: 600px)
	.products
		flex-flow: row wrap
		justify-content: flex-start
