<!-- Search Result Card-->
<mat-card class="search-card" *ngIf="searchService.hasSearchFilter$ | async">
	Search results for product

	<!-- Search result for product name -->
	<ng-container *ngIf="searchCondition.name">'{{searchCondition.name}}'</ng-container>

	<!-- Search result for prices -->
	<ng-container *ngIf="searchCondition.minPrice && searchCondition.maxPrice; else singlePrice">
		(Price: {{searchCondition.minPrice | currency:'PHP':'symbol'}}
		- {{searchCondition.maxPrice | currency:'PHP':'symbol'}})
	</ng-container>
	<ng-template #singlePrice>
		<ng-container *ngIf="searchCondition.minPrice">
			(Min Price: {{searchCondition.minPrice | currency:'PHP':'symbol'}})
		</ng-container>
		<ng-container *ngIf="searchCondition.maxPrice">
			(Max Price: {{searchCondition.maxPrice | currency:'PHP':'symbol'}})
		</ng-container>
	</ng-template>
</mat-card>

<!-- Product List Display-->
<div *ngIf="filteredProducts.length > 0; else noProducts" class="products">
	<app-product-item *ngFor="let product of filteredProducts" [product]="product"></app-product-item>
</div>
<ng-template #noProducts>No products available.</ng-template>