h1
	font-size: 1rem
	margin: 0

.mat-divider
	margin-block: 0.5em

.product-list
	list-style-type: none
	margin: 0
	padding: 0
	button
		min-width: auto
		line-height: normal
	div, button
		padding: 0.5em
		border-radius: 5px
		box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%)

.description span:last-of-type
	cursor: pointer

// ==========
// Layouts 
// ==========
li
	display: flex
	column-gap: 0.5em
	margin-bottom: 0.5em
	div:last-of-type
		flex-grow: 1

.description
	display: flex
	gap: 0.5em
	span:first-child
		flex-grow: 1

.total
	display: flex
	justify-content: space-between
