<h1>Cart</h1>
<mat-divider></mat-divider>

<!-- Product List View Section -->
<ul class="product-list" *ngIf="cartService.addedProducts.length > 0; else noCartItem">
	<li *ngFor="let product of cartService.addedProducts">
		<button mat-raised-button (click)="cartService.removeProduct(product.product.id, 1)">-</button>
		<div>{{product.qty}}x</div>
		<button mat-raised-button (click)="cartService.addProduct(product.product)">+</button>
		<div class="description">
			<span>{{product.product.name}}</span>
			<span>{{product.product.price * product.qty | currency:'PHP':'symbol'}}</span>
			<span (click)="cartService.removeProduct(product.product.id)">x</span>
		</div>
	</li>
</ul>
<ng-template #noCartItem>No items in your cart yet.</ng-template>
<mat-divider></mat-divider>

<!-- Total Section -->
<dl class="total">
	<dt>Total</dt>
	<dd>{{totalPrice | currency:'PHP':'symbol'}}</dd>
</dl>
<mat-divider></mat-divider>