*
	box-sizing: border-box

html, body
	height: 100%
	margin: 0

.full-screen-dialog .mat-dialog-container
	width: 100vw
	height: 100vh

// enables new line to be displayed in browser view
.newline
	white-space: pre-line

@media screen and (min-width: 600px)
	.full-screen-dialog .mat-dialog-container
		height: auto
