// Toolbar Styles
.header
	position: fixed
	top: 0
	right: 0
	left: 0
	z-index: 10

.spacer
	flex: 1 1 auto

.search
	border: none
	border-radius: 100px
	padding-inline: 1rem
	margin-inline: 5px
	max-width: 240px
	line-height: normal
	height: 50%
	-webkit-appearance: none

// Body Styles
.mat-sidenav-container
	height: 100%
	padding-top: 64px
	margin: 0
	transform: none

.sidenav-content
	padding: 1.5em

.sidenav
	padding-top: 80px
	padding-inline: 1em

.sidenav.filter
	width: min(100vw, 20em)

.sidenav.cart
	width: min(100vw, 25em)
