<mat-toolbar class="header" color="primary">
	<button mat-icon-button aria-label="menu icon" (click)="filterSidenav.toggle()">
		<mat-icon>menu</mat-icon>
	</button>
	<span>Shop</span>
	<span class="spacer"></span>
	<input class="search" type="search" aria-label="search" placeholder="Search..." (input)="onSearch(search.value)"
		#search />
	<button mat-icon-button (click)="cartSidenav.toggle()" matBadgeColor="warn" matBadgeSize="small"
		[matBadge]="cartService.addedProducts.length" [matBadgeHidden]="cartService.addedProducts.length === 0"
		aria-label="show shopping cart">
		<mat-icon>add_shopping_cart</mat-icon>
	</button>
</mat-toolbar>
<mat-sidenav-container>
	<mat-sidenav #filterSidenav class="filter sidenav" [mode]="isMediumScreen ? 'over' : 'side'" opened>
		<app-filter-sidenav></app-filter-sidenav>
	</mat-sidenav>
	<mat-sidenav #cartSidenav class="cart sidenav" [mode]="isMediumScreen ? 'over' : 'side'" [(opened)]="isCartOpen"
		position="end">
		<app-cart-sidenav></app-cart-sidenav>
	</mat-sidenav>

	<div class="sidenav-content">
		<app-product-list></app-product-list>
	</div>

</mat-sidenav-container>