<header>
	<h1>Filter</h1>
	<span (click)="filterForm.reset()">Clear</span>
</header>
<mat-divider></mat-divider>
<form [formGroup]="filterForm">
	<section class="price">
		<mat-form-field appearance="fill" floatLabel="always">
			<mat-label>Min</mat-label>
			<span matPrefix>₱&nbsp;</span>
			<input matInput type="number" placeholder="0" formControlName="minPrice">
		</mat-form-field>
		<mat-form-field appearance="fill" floatLabel="always">
			<mat-label>Max</mat-label>
			<span matPrefix>₱&nbsp;</span>
			<input matInput type="number" placeholder="0" formControlName="maxPrice">
		</mat-form-field>
	</section>
</form>
<mat-divider></mat-divider>