@import variables
	
header
	display: flex
	justify-content: space-between
	align-items: baseline

header span
	cursor: pointer
	color: $primary-color

h1
	font-size: 1rem
	margin: 0

.mat-divider
	margin-block: 0.5em

.price
	display: flex
	gap: 1em
	.mat-form-field
		width: 40%
		margin-bottom: -1.25em
