<mat-card class="mat-elevation-z2">
	<mat-card-title-group>
		<mat-card-title>{{product.name}}</mat-card-title>
		<mat-card-subtitle>{{product.price | currency:"PHP":"symbol"}}</mat-card-subtitle>
		<img mat-card-md-image [src]="product.photo">
	</mat-card-title-group>
	<mat-card-actions align="end">
		<button mat-stroked-button (click)="onOpenProductDialog(product)">View</button>
		<button mat-flat-button color="primary" (click)="cartService.addProduct(product)">Add to cart</button>
	</mat-card-actions>
</mat-card>