<section class="product">
	<figure>
		<img [src]="selectedProduct.photo">
		<figcaption>
			<h1>Name</h1>
			<h2>{{selectedProduct.name}}</h2>

			<h1>Price</h1>
			<h2>{{selectedProduct.price | currency:"PHP":"symbol"}}</h2>

			<div class="description newline">
				{{ selectedProduct.description | slice:0:50}}<span *ngIf="isShowMore">{{
					selectedProduct.description | slice:50}}</span>
				<span *ngIf="!isShowMore && selectedProduct.description.length > 50">
					...<span class="read-more" (click)="isShowMore = true"> Read More</span>
				</span>
			</div>
		</figcaption>
	</figure>
</section>
<mat-divider></mat-divider>

<section class="price">
	<h1>Total</h1>
	<span>{{ selectedProduct.price * quantity | currency:"PHP":"symbol"}}</span>
</section>
<mat-divider></mat-divider>

<section class="btn-container">
	<span class="qty-btns">
		<button mat-raised-button class="mat-elevation-z2"
			(click)="quantity = quantity > 1 ? quantity - 1 : 1">-</button>
		<input type="number" [(ngModel)]="quantity" />
		<button mat-raised-button class="mat-elevation-z2" (click)="quantity = quantity + 1">+</button>
	</span>

	<button mat-raised-button (click)="onAddToCart()" mat-dialog-close color="primary">Add to cart</button>
	<button mat-raised-button mat-dialog-close>Cancel</button>
</section>