@import 'variables'
	
// ==========
// Typography 
// ==========
h1
	font-size: 1rem
	font-weight: 500

h2
	font-size: 1.2rem

// ==========
// Components 
// ==========
.mat-divider
	margin-block: 1em

figure, h1, h2
	margin: 0

figure
	margin-bottom: 1em
	img
		width: 200px

.qty-btns
	margin-bottom: 0.5em
	button
		min-width: auto

.read-more
	cursor: pointer
	color: $primary-color

// ==========
// Layouts 
// ==========
figure
	display: flex
	flex-direction: column
	gap: 1.5em

figure img
	align-self: center

.btn-container
	display: flex
	flex-wrap: wrap
	gap: 1em

.qty-btns
	display: flex
	gap: 0.5em

@media screen and (min-width: 600px)
	figure
		flex-direction: row

	figcaption
		display: grid
		grid-auto-flow: column
		column-gap: 1em
		grid-template-columns: 1fr auto
		grid-template-rows: auto auto 1fr
		width: 100%
		.description
			grid-row: 3
			grid-column: 1/-1

	.price
		display: flex
		justify-content: space-between
		align-items: center

	.btn-container
		justify-content: center

	.qty-btns
		margin-bottom: 0
